<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
    <input class="form-control" type="text" name="recipeName" [(ngModel)] = "recipeName" (ngModelChange)="onSearch()" style="margin-top: 2em;">
  </div>
</div>
<hr />

<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipeEl of recipes | paginate: { itemsPerPage: itemsPerPage, currentPage: p };  let i=index;"
    [recipe]="recipeEl"
    [index]="i"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="p"
    [searchIndexes]="searchIndexes"></app-recipe-item>
  </div>
</div>

<pagination-controls (pageChange)=pageChanged($event)></pagination-controls>